:root {
  --font-main: 'Segoe UI', Roboto, sans-serif;

  --color-bg: #fafafa;
  --color-text: #222;
  --color-muted: #777;
  --color-primary: #2196f3;
  --color-border: #ddd;

  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;

  --radius: 12px;
  --container-padding: 16px;
  --container-max: 1024px;
  --container-min: 360px;
}
